<!-- <div class="button-container">
  <button
    mat-button
    class="update-button"
    (click)="updateColumns()"
    *ngIf="savedCollection"
  >
    Update
  </button>
  <button
    mat-button
    class="save-button"
    (click)="saveColumns()"
    *ngIf="!savedCollection"
  >
    Save
  </button>
</div> -->
<div *ngIf="data && columns" class="table-container">
  <table
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="drag-drop-table"
    (cdkDropListDropped)="drop($event)"
  >
    <thead>
      <tr>
        <th *ngFor="let header of columns" cdkDrag>
          <div class="header">
            <p class="title">{{ header.title }}</p>
            <p class="title" *cdkDragPreview>{{ header.title }}</p>
            <div class="search-sort">
              <input
                type="text"
                class="search"
                placeholder="Filter {{ header.title }}..."
                (input)="filterTable($event, header.property)"
              />
              <button
                mat-button
                class="sort"
                (click)="sortTable($event.currentTarget.value, header.property)"
                value="{{ sorters.get(header.property) }}"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Sort Icon"
                  class="sort-icon"
                  >{{ sorterIcon(sorters.get(header.property)) }}</mat-icon
                >
              </button>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of data; index as i; last as isLast"
        [ngClass]="{ 'last-row': isLast }"
      >
        <td class="cell" *ngFor="let header of columns">
          {{ item[header.property] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
