.drag-drop-table {
  width: 1000px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;

  .header {
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    border-bottom: solid 1px #ccc;
    &:last-child {
      border-right: none;
    }
    .title {
      margin-bottom: 1rem;
    }
    .search-sort {
    }
    .search {
      box-sizing: border-box;
      // width: 100%;
      font-size: 12px;
      border: none;
      background: #9f9696;
    }
    .sort {
      line-height: 16px;
      min-width: 16px;
      padding: 4px;
      background: revert;
      .code-icon {
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
        transform: rotate(90deg);
      }
    }
  }
  .cell {
    padding: 12px 10px;
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    background: white;
    font-size: 12px;
    border-bottom: solid 1px #ccc;
    &:last-child {
      border-right: none;
    }
  }
  .last-row {
    .cell {
      border-bottom: none;
    }
  }
}
