<div class="component">
  <button class="weather-button" (click)="getWeatherForecast()">Get Latest Weather</button>
  <div class="card-container weather-container">
    <div
      *ngFor="let weather of weatherForecast"
      class="card card-small weather-card"
    >
      <h3>{{ weather.date | date }}</h3>
      <p class="temperature">
        <span class="temperature-scale">Celsius</span>
        <span class="temperature-actual">{{ weather.temperatureC }}</span>
      </p>
      <p class="temperature">
        <span class="temperature-scale">Fahrenheit</span>
        <span class="temperature-actual">{{ weather.temperatureF }}</span>
      </p>
      <p class="weather-summary">{{ weather.summary }}</p>
    </div>
  </div>
</div>
