<div>
    <h2>From Store</h2>
    <div class="employees-search">
        <div>
          <label for="employeeAmount" id="employeeAmountLabel">Employee Amount: </label>
        </div>
        <div>
          <input
            type="text"
            name="employeeAmount"
            id="employeeAmount"
            [(ngModel)]="getEmployeeAmount"
          />
          <small>Examples: 10</small>
        </div>
        <div>
          <button (click)="getEmployeesList($event)">Search</button>
        </div>
      </div>
    <div *ngFor="let employee of (employeesList$ | async)">
        <p>{{employee.businessEntityID}}: {{employee.title}}{{employee.firstName}} {{employee.lastName}}</p>
    </div>
</div>