<div>
  <div class="employees-search">
    <div>
      <label for="employeeAmount" id="employeeAmountLabel"
        >Employee Amount:
      </label>
    </div>
    <div>
      <input
        type="text"
        name="employeeAmount"
        id="employeeAmount"
        [(ngModel)]="getEmployeeAmount"
      />
      <small>Examples: 10</small>
    </div>
    <div>
      <button (click)="getEmployeesList($event)">Search</button>
    </div>
  </div>
  <app-drag-drop-table
    [data]="employeesList$ | async"
    [columns]="employeesLayout$"
    (modifiedColumns)="onModifiedColumns($event)"
  ></app-drag-drop-table>
</div>
