<div class="component">
  <div class="person-search">
    <label for="finderPerson">Person Business Entity ID: </label>
    <input
      type="text"
      name="findPerson"
      id="findPerson"
      [(ngModel)]="findBusinessEntityID"
    />
    <button (click)="findPerson($event)">Search</button>
  </div>
  <div *ngIf="searchedPerson">
    <div class="card-person">
      <div class="card-column">
        <p class="data-section">
          <span>Business ID</span>
          <span class="data-actual">{{ searchedPerson.businessEntityID }}</span>
        </p>
        <p class="data-section">
          <span>Name</span>
          <span class="data-actual">{{ searchedPerson.title }} {{ searchedPerson.firstName }} {{ searchedPerson.lastName }}</span>
        </p>
        <p class="data-section">
          <span>Phone Number</span>
          <span class="data-actual"><span>{{ searchedPerson.phoneType }}: </span>{{ searchedPerson.phoneNumber }}</span>
        </p>
        <p class="data-section">
          <span>Email</span>
          <span class="data-actual">{{ searchedPerson.emailAddress }}</span>
        </p>
      </div>
      <div class="card-column">
        <p class="data-section">
          <span>AddressLine1</span>
          <span class="data-actual">{{ searchedPerson.addressLine1 }}</span>
        </p>
        <p class="data-section">
          <span>AddressLine2</span>
          <span class="data-actual">{{ searchedPerson.addressLine2 }}</span>
        </p>
        <p class="data-section">
          <span>City</span>
          <span class="data-actual">{{ searchedPerson.city }}</span>
        </p>
        <p class="data-section">
          <span>Postal Code</span>
          <span class="data-actual">{{ searchedPerson.postalCode }}</span>
        </p>
        <p class="data-section">
          <span>State</span>
          <span class="data-actual">{{ searchedPerson.stateName }}</span>
        </p>
        <p class="data-section">
          <span>Country</span>
          <span class="data-actual">{{ searchedPerson.countryName }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
