<div class="component">
    <div>
        <label for="finderPerson">Person Business Entity ID: </label>
        <input type="text" name="findPerson" id="findPerson" [(ngModel)]="findBusinessEntityID">
        <button (click)="findPerson($event)">Search</button>
    </div>
    <div *ngIf="searchedPerson">
        <p>
            <span>Business ID</span>
            <span>{{ searchedPerson.businessEntityID }}</span>
          </p>
          <p>
            <span>Title</span>
            <span>{{ searchedPerson.title }}</span>
          </p>
          <p>
            <span>First Name</span>
            <span>{{ searchedPerson.firstName }}</span>
          </p>
          <p>
            <span>Phone Number</span>
            <span><span>{{searchedPerson.phoneType}}: </span>{{ searchedPerson.phoneNumber }}</span>
          </p>
          <p>
            <span>Email</span>
            <span>{{ searchedPerson.emailAddress }}</span>
          </p>
          <p>
            <span>AddressLine1</span>
            <span>{{ searchedPerson.addressLine1 }}</span>
          </p>
          <p>
            <span>AddressLine2</span>
            <span>{{ searchedPerson.addressLine2 }}</span>
          </p>
          <p>
            <span>City</span>
            <span>{{ searchedPerson.city }}</span>
          </p>
          <p>
            <span>Postal Code</span>
            <span>{{ searchedPerson.postalCode }}</span>
          </p>
          <p>
            <span>State</span>
            <span>{{ searchedPerson.stateName }}</span>
          </p>
          <p>
            <span>Country</span>
            <span>{{ searchedPerson.countryName }}</span>
          </p>
    </div>
</div>